.navbar {
    background-color: #000000; /* Siyah arkaplan rengi */
    padding: 35px; /* Üst ve alt boşlukları 10 piksel, sağ ve sol boşluklar sıfır */
    text-align: right; /* Yazıları sağa dayama */
    position: relative; /* Pozisyonu belirleme */
    animation: slideIn 0.5s forwards; /* Animasyonu başlatma */
  }
  
  @keyframes slideIn {
    from {
      right: -100%; /* Başlangıçta sağda başlatma */
    }
    to {
      right: 0; /* Sola kaydırma */
    }
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 45px; /* Yazılar arasındaki boşluğu ayarlar */
  }
  
  .navbar ul li:last-child {
    margin-right: 0; /* Son yazıda sağ boşluk olmasın */
  }
  
  .navbar ul li:first-child {
    position: absolute; /* Pozisyonu mutlak belirleme */
    left: 10px; /* Sol kenardan 10 piksel içeri */
  }
  
  .navbar ul li a {
    padding: 8px 12px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    transition: all 0.3s;
  }


  
@keyframes shake {
  0%, 100% {
    transform: translateX(0); /* Başlangıç pozisyonu ve bitiş pozisyonu */
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-50px); /* Sola kayma */
  }
  20%, 40%, 60%, 80% {
    transform: translateX(50px); /* Sağa kayma */
  }
}

  .navbar-brand {
    color: #ffffff; /* Beyaz yazı rengi */
    font-family: "Arial", sans-serif;
    font-size: 18px;
    position: absolute; /* Pozisyonu mutlak belirleme */
    left: 10px; /* Sol kenardan 10 piksel içeri */
    top: 50%; /* Dikey ortalamaya göre hizalama */
    transform: translateY(-50%); /* Dikey ortalamaya göre konumlandırma */
  }
  


  .paragraf {
    background-color: rgba(255, 255, 255, 0.85); /* Saydam arkaplan rengi */
    border-radius: 0px; /* Köşelerin oval şeklini belirler */
    padding: 30px; /* İçerik boşluğu */
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;

    width: 500px; /* Belirlediğiniz genişlik değeri */
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    animation: shake 0.5s forwards;
  }

  .hakkimdaDiv{
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 0px;
    color: black;
  }

  .animasyon{
    animation: slideIn 0.5s forwards;
  }